<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.software.leanback" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <queries><intent><action android:name="android.intent.action.VIEW" /><data android:mimeType="video/*" /></intent><intent><action android:name="android.intent.action.VIEW" /><data android:mimeType="application/*" /></intent></queries>
    <application android:name=".KazumiApplication" android:label="KazumiTV 原生" android:theme="@android:style/Theme.Material.NoActionBar" android:allowBackup="false" android:usesCleartextTraffic="true" android:banner="@drawable/banner" android:icon="@drawable/kazumitv_mark">
        <service android:name=".download.TvDownloadService" android:exported="false" android:foregroundServiceType="dataSync" />
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
